body {
    text-align: center;
}
.frame {
    background-color: rgb(49, 82, 97);
    height: 300px;
    width: 200px;
    position: relative;
}
.image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}
/* Выпадающий список */
ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
ul li a {
    display: block;
    padding: 5px 15px 5px 15px;
}

li ul {
    display: none;
}

li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    font-size: 11px;
}
