body {
    text-align: center;
}
.frame {
    background-color: rgb(49, 82, 97);
    height: 300px;
    width: 200px;
    position: relative;
}
.image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.horizontal_list li{
    display: inline-block;
    margin: 10px;
}